@import "./common.less";

html {
  font-size: @htmlFontSize;
  font-family: @htmlfontfamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: @backgroundColor;
}

img {
  display: block;
  width: 100%;
}

// home
// home block
.home-block {
  padding: 0.1rem 0 0.5rem;
  background-color: #fff;
  .title {
    text-align: center;
    padding: 0.4rem 0;
  }
  .home-brand {
    .van-col {
      position: relative;
      overflow: hidden;
      p {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 0.2rem 0;
        padding-right: @cardPriceFontSize;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: @cardPriceFontSize;
        font-weight: 700;
        text-align: right;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

// popup route
.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: @backgroundColor;
  .popup-hot,
  .popup-history {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .tags span {
      margin: 0 0.1rem;
    }
  }
  .popup-hot {
    .title {
      h4 {
        color: #a52a2a;
      }
    }
  }
}

// cards
.card-list {
  padding: 2% 2%;
  background-color: #fff;
  .card {
    padding: 1%;
    text-align: center;
    .card-title {
      padding: 0 @cardPriceFontSize;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: @cardPriceFontSize;
    }
    .price {
      padding: 0.1rem;
      font-size: @cardPriceFontSize;
      color: @cardPriceFontColor;
    }
  }
}
