@import "./common.less";

html {
  font-size: @htmlFontSize;
  font-family: @htmlfontfamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: @backgroundColor;
}

img {
  display: block;
  width: 100%;
}

// popup route
.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: @backgroundColor;
  .popup-hot,
  .popup-history {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .tags span {
      margin: 0 0.1rem;
    }
  }
  .popup-hot {
    .title {
      h4 {
        color: #a52a2a;
      }
    }
  }
}

// cards
.card-list {
  padding: 2% 1%;
  background-color: #fff;
  .card {
    padding: 0 1%;
    text-align: center;
    .card-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: @cardPriceFontSize * 1.3;
    }
    .price {
      padding: 0.1rem;
      font-size: @cardPriceFontSize;
      color: @cardPriceFontColor;
    }
  }
}
