@import "./common.less";

html {
  font-size: @htmlFontSize;
  font-family: @htmlfontfamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: @backgroundColor;
}

img {
  display: block;
  width: 100%;
}
.van-image {
  display: block !important;
}
.title {
  text-align: center;
  padding: 0.4rem 0;
}
.van-grid {
  padding: 0.2rem;
}
// block
.home-block {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
  .title {
    padding-top: 0;
  }
  .desc {
    text-align: center;
    padding-bottom: 0.2rem;
    font-size: @htmlFontSize;
  }
}
.grid-block {
  margin: 1.5rem 0.5rem;
}

// home
.home-brand {
  .van-col {
    position: relative;
    overflow: hidden;
    p {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      padding: 0.2rem 0;
      padding-right: @cardPriceFontSize;
      background-color: rgba(0, 0, 0, 0.5);
      font-size: @cardPriceFontSize;
      font-weight: 700;
      text-align: right;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

// popup route
.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: @backgroundColor;
  .popup-keywords {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .tags {
      padding: 0.2rem 0;
      span {
        margin: 0.15rem;
        padding: 0.15rem;
        font-size: @cardPriceFontSize;
      }
    }
  }
}

// cards
.card-list {
  padding: 1%;
  padding-bottom: 1.5rem;
  .card {
    padding: 1% 0;
    margin: 0.2rem;
    text-align: center;
    background-color: #fff;
    .card-title {
      padding: 0 @cardPriceFontSize;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: @cardPriceFontSize;
    }
  }
}
.price {
  padding: 0.1rem;
  font-size: @cardPriceFontSize;
  font-weight: 700;
  text-align: center;
  color: brown;
}

// detail
#detail {
  margin-bottom: 1.3rem;

  .attribute {
    h4 {
      font-size: 0.5rem;
      padding-bottom: 0.2rem;
    }
    .van-row {
      background-color: @backgroundColor;
      padding: 0.2rem;
      margin: 0.1rem 0;
      border-radius: 0.2rem;
      font-size: @cardPriceFontSize;
      .name {
        text-align: right;
        padding-right: 0.2rem;
      }
      .value {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .issue {
    font-size: 0.3rem;
    h3 {
      color: brown;
      font-weight: 700;
    }
    p {
      padding: 0.1rem 0.4rem 0.2rem;
      font-size: 0.2rem;
      color: #333;
    }
  }
  .detail-action-bar {
    bottom: 1.3rem !important;
    z-index: 3000;
  }
  .sku {
    padding: 0.5rem 0;
    bottom: 2rem;
    .top-info {
      align-items: center;
      .van-row {
        margin: 0.1rem 0;
        .data-msg {
          text-align: left;
          padding-left: 0.2rem;
        }
      }
    }
    .bottom-content {
      display: flex;
      align-items: center;
      padding: 0.5rem;
    }
  }
}

// grid
.user-grid-info {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: #fff;
  padding: 1.5rem 0 0.5rem;
  border-radius: @htmlFontSize;
  .info {
    padding: 0.4rem 0 0;
    .van-row {
      align-items: center;
      margin: 0.4rem 0;
      .name {
        text-align: right;
        font-size: @htmlFontSize;
        color: brown;
      }
      .value {
        text-align: left;
        padding-left: @htmlFontSize;
      }
    }
  }
}
