@import "./common.less";

#category {
  margin-top: 1.2rem;
  height: 90vh;
  background-color: #fff;
  display: flex;
  .left-nav {
    height: 100%;
    background-color: #f7f8fa;
    .van-sidebar-item {
      text-align: center;
    }
  }
  .right-content {
    .van-image {
      margin-bottom: 0.2rem;
    }
    .van-grid {
      .van-icon__image {
        width: 2.5em;
        height: 2.5em;
      }
    }
  }
}
